<link rel="import" href="../../polymer/polymer.html">

<polymer-element name="x-about-page" attributes="isPhone">
    <template>
        <style>
        
        </style>
        <div>
            <h2>Why?</h2>
            <p>
                The Reasons behind designing zbot was that everytime a hacker would join the server and start doing stuff a trusted admin would have to log into the dedicated box.
                and read the logs to find very obvious things that identified the hacker. and if such admin was not online then just randomly banning everyone who is new would
                happen till it stopped and then a list of everyone banned would be made and someone would have to go workout who actually hacked later on and clear the rest.<br>
                When i started helping a community for dev work and got access and saw how easy this process would be to automate i took the initive so everyone could be alot 
                more lazy. it still doesnt catch 100% of hackers but it does stop alot of types of hacks restricting the ways that they can get away with it. 
            </p>
        </div>
    </template>
    <script>
    Polymer({})
    </script>
</polymer-element>