<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../core-list/core-list.html">

<polymer-element name="x-todo-page" attributes="isPhone">
    <template>
        <style>
        
        </style>
        <div>
            <h3>Todo List:</h3>
            <ul>
                <li>Make Zbot more Robust to errors</li>
                <li>Make Zbot more Customisable and controlable to tweak to fit more broad use cases and not the pre defined specific case i use it for on a Altis life server</li>
                <li>Enable ban syncing to/from web.(allow communitys to share and sync bans and filter for keywords in ban reasons)</li>
                <li>Clean up code base and convert code to be more test friendly</li>
                <li>Test all the things. (need to be in a habbit of writing tests more and not just testing as i make it dem C++ habbits.)</li>
            </ul>
        </div>
    </template>
    <script>
    Polymer({})
    </script>
</polymer-element>